# Python
__pycache__/
*.pyc

# Build Artifacts
build/
dist/
dist_signed/
*.spec
*.exe

# Runtime Data
scores.json
quiz_answers.json
views.json
data/
question_skips.json
questions.json
quizgame/
content/

# Environment
venv/
.env

# OS
.DS_Store
Thumbs.db
